
/* this is my first css comment */

/* i am so excited to show you css */
h2 {
    color: blue;
}
/* p {
  color: purple
} */

 p{
  color: yellow;
}

p{
  color: green;
}
/*
p{
  color: red;
} */
/* li {
  color: yellow
} */
/* this is a comment */

/* hello arent comments great!! */
